In [92]:
import sys
sys.path.insert(0,'/Users/ezratampubolon/PythonProjects/Financial/financial_report/edgar_data_analysis')

In [99]:
import sys, importlib

try:
    importlib.reload(sys.modules['edgar_analysis.edgar_data.edgar_data'])
except KeyError:
    pass

from edgar_analysis.edgar_data.edgar_data import EdgarDataComp

In [100]:
import pandas as pd

# Discover Financial

In [105]:
cik="0001393612"
comp_nm="Discover"
path_folder='/Users/ezratampubolon/PythonProjects/Financial/edgar-data/companyfacts'

In [106]:
DiscoverQuarterly=EdgarDataComp(interval="quarterly",path_folder=path_folder,cik=cik,norm_mill=True)

In [107]:
DiscoverQuarterly.by_tag(tag="EarningsPerShareDiluted",which="us-gaap")

    year quarter           val
0   2022      Q2  3.960000e-06
1   2022      Q1  4.220000e-06
2   2021      Q4 -1.412998e-05
3   2021      Q3  3.540000e-06
4   2021      Q2  5.550000e-06
..   ...     ...           ...
58  2009      Q4  6.000000e-07
59  2009      Q3  1.070000e-06
60  2009      Q2  4.300000e-07
61  2009      Q1  2.500000e-07
62  2008      Q3  3.700000e-07

[63 rows x 3 columns]

In [108]:
DiscoverQuarterly.shares_outstanding

    year quarter         val
51  2022      Q2  273.171312
50  2022      Q1  280.965096
49  2021      Q4  284.903687
48  2021      Q3  293.075754
47  2021      Q2  299.468440
46  2021      Q1  304.887527
45  2020      Q4  306.691722
44  2020      Q3  306.496332
43  2020      Q2  306.421150
42  2020      Q1  306.300776
41  2019      Q4  308.337638
40  2019      Q3  313.468253
39  2019      Q2  318.241033
38  2019      Q1  323.728882
37  2018      Q4  328.386672
36  2018      Q3  335.964673
35  2018      Q2  342.658270
34  2018      Q1  348.977139
33  2017      Q4  354.756870
32  2017      Q3  363.380629
31  2017      Q2  372.351948
30  2017      Q1  380.190745
29  2016      Q4  385.534055
28  2016      Q3  394.398659
27  2016      Q2  403.627107
26  2016      Q1  412.225311
25  2015      Q4  414.201055
24  2015      Q3  427.483802
23  2015      Q2  435.306766
22  2015      Q1  442.505016
21  2014      Q4  447.239938
20  2014      Q3  453.479765
19  2014      Q2  461.904399
18  2014      Q1  466.273816
17  2013      Q4  470.895643
16  2013      Q3  476.839742
15  2013      Q2  483.787663
14  2013      Q1  490.424845
13  2012      Q4  497.503969
12  2012      Q3  504.775854
11  2012      Q2  514.911832
10  2012      Q1  530.319316
9   2011      Q4  529.976499
8   2011      Q3  549.637090
7   2011      Q2  545.669541
6   2011      Q1  545.485833
5   2010      Q4  545.246937
4   2010      Q3  544.589409
3   2010      Q2  544.036855
2   2010      Q1  543.823818
1   2009      Q4  543.609676
0   2009      Q3  542.814731

In [64]:
pd.DataFrame(DiscoverQuarterly.data_comp["facts"]["dei"]["EntityCommonStockSharesOutstanding"]["units"]["shares"])[["fy","fp","val"]]

      fy  fp        val
0   2009  Q3  542814731
1   2009  FY  543609676
2   2010  Q1  543823818
3   2010  Q2  544036855
4   2010  Q3  544589409
5   2010  FY  545246937
6   2011  Q1  545485833
7   2011  Q2  545669541
8   2011  Q3  549637090
9   2011  FY  529976499
10  2012  Q1  530319316
11  2012  Q2  514911832
12  2012  Q3  504775854
13  2012  FY  497503969
14  2013  Q1  490424845
15  2013  Q2  483787663
16  2013  Q3  476839742
17  2013  FY  470895643
18  2014  Q1  466273816
19  2014  Q2  461904399
20  2014  Q3  453479765
21  2014  FY  447239938
22  2015  Q1  442505016
23  2015  Q2  435306766
24  2015  Q3  427483802
25  2015  FY  414201055
26  2016  Q1  412225311
27  2016  Q2  403627107
28  2016  Q3  394398659
29  2016  FY  385534055
30  2017  Q1  380190745
31  2017  Q2  372351948
32  2017  Q3  363380629
33  2017  FY  354756870
34  2018  Q1  348977139
35  2018  Q2  342658270
36  2018  Q3  335964673
37  2018  FY  328386672
38  2019  Q1  323728882
39  2019  Q2  318241033
40  2019  Q3  313468253
41  2019  FY  308337638
42  2020  Q1  306300776
43  2020  Q2  306421150
44  2020  Q3  306496332
45  2020  FY  306691722
46  2021  Q1  304887527
47  2021  Q2  299468440
48  2021  Q3  293075754
49  2021  FY  284903687
50  2022  Q1  280965096
51  2022  Q2  273171312

In [11]:
DiscoverQuarterly.data_comp["facts"]["dei"]

dict_keys(['EntityCommonStockSharesOutstanding', 'EntityPublicFloat'])

In [55]:
pd.DataFrame(DiscoverQuarterly.data_comp["facts"]["dei"]["EntityCommonStockSharesOutstanding"]["units"]["shares"])

,end,val,accn,fy,fp,form,filed,frame
0,2009-09-30,542814731,0001193125-09-205021,2009,Q3,10-Q,2009-10-07,CY2009Q3I
1,2010-01-15,543609676,0001193125-10-014549,2009,FY,10-K,2010-01-28,CY2009Q4I
2,2010-03-31,543823818,0001193125-10-079766,2010,Q1,10-Q,2010-04-09,CY2010Q1I
3,2010-06-30,544036855,0001193125-10-154973,2010,Q2,10-Q,2010-07-07,CY2010Q2I
4,2010-09-30,544589409,0001193125-10-225003,2010,Q3,10-Q,2010-10-06,CY2010Q3I
5,2011-01-15,545246937,0001193125-11-014919,2010,FY,10-K,2011-01-26,CY2010Q4I
6,2011-03-25,545485833,0001193125-11-091525,2011,Q1,10-Q,2011-04-08,CY2011Q1I
7,2011-06-24,545669541,0001445305-11-001469,2011,Q2,10-Q,2011-07-01,CY2011Q2I
8,2011-09-23,549637090,0001445305-11-002854,2011,Q3,10-Q,2011-09-28,CY2011Q3I
9,2012-01-31,529976499,0001393612-12-000008,2011,FY,10-K,2012-01-26,CY2011Q4I
10,2012-03-30,530319316,0001393612-12-000015,2012,Q1,10-Q,2012-04-04,CY2012Q1I
11,2012-06-22,514911832,0001393612-12-000019,2012,Q2,10-Q,2012-06-26,CY2012Q2I
12,2012-09-28,504775854,0001393612-12-000027,2012,Q3,10-Q,2012-10-04,CY2012Q3I
13,2013-01-31,497503969,0001393612-13-000004,2012,FY,10-K,2013-01-25,CY2012Q4I
14,2013-04-26,490424845,0001393612-13-000015,2013,Q1,10-Q,2013-04-30,CY2013Q1I
15,2013-07-24,483787663,0001393612-13-000030,2013,Q2,10-Q,2013-07-30,CY2013Q2I
16,2013-10-25,476839742,0001393612-13-000043,2013,Q3,10-Q,2013-11-01,CY2013Q3I
17,2014-02-14,470895643,0001393612-14-000012,2013,FY,10-K,2014-02-25,CY2013Q4I
18,2014-04-25,466273816,0001393612-14-000021,2014,Q1,10-Q,2014-04-29,CY2014Q1I
19,2014-07-28,461904399,0001393612-14-000032,2014,Q2,10-Q,2014-08-01,CY2014Q2I
20,2014-10-24,453479765,0001393612-14-000044,2014,Q3,10-Q,2014-10-28,CY2014Q3I
21,2015-02-20,447239938,0001393612-15-000007,2014,FY,10-K,2015-02-25,NaN
22,2015-04-24,442505016,0001393612-15-000015,2015,Q1,10-Q,2015-04-30,CY2015Q1I
23,2015-07-24,435306766,0001393612-15-000028,2015,Q2,10-Q,2015-07-29,CY2015Q2I
24,2015-10-23,427483802,0001393612-15-000043,2015,Q3,10-Q,2015-10-29,CY2015Q3I
25,2016-02-19,414201055,0001393612-16-000059,2015,FY,10-K,2016-02-24,NaN
26,2016-04-22,412225311,0001393612-16-000070,2016,Q1,10-Q,2016-04-28,CY2016Q1I
27,2016-07-29,403627107,0001393612-16-000085,2016,Q2,10-Q,2016-08-02,CY2016Q2I
28,2016-10-21,394398659,0001393612-16-000100,2016,Q3,10-Q,2016-10-27,CY2016Q3I
29,2017-02-17,385534055,0001393612-17-000012,2016,FY,10-K,2017-02-23,NaN
30,2017-04-28,380190745,0001393612-17-000025,2017,Q1,10-Q,2017-05-02,CY2017Q1I
31,2017-07-28,372351948,0001393612-17-000041,2017,Q2,10-Q,2017-08-01,CY2017Q2I
32,2017-10-27,363380629,0001393612-17-000056,2017,Q3,10-Q,2017-11-02,CY2017Q3I
33,2018-02-16,354756870,0001393612-18-000012,2017,FY,10-K,2018-02-21,NaN
34,2018-04-27,348977139,0001393612-18-000025,2018,Q1,10-Q,2018-05-01,CY2018Q1I
35,2018-07-27,342658270,0001393612-18-000039,2018,Q2,10-Q,2018-08-01,CY2018Q2I
36,2018-10-26,335964673,0001393612-18-000051,2018,Q3,10-Q,2018-10-31,CY2018Q3I
37,2019-02-15,328386672,0001393612-19-000011,2018,FY,10-K,2019-02-20,NaN
38,2019-04-26,323728882,0001393612-19-000029,2019,Q1,10-Q,2019-05-02,CY2019Q1I
39,2019-07-26,318241033,0001393612-19-000039,2019,Q2,10-Q,2019-08-01,CY2019Q2I
40,2019-10-25,313468253,0001393612-19-000051,2019,Q3,10-Q,2019-10-30,CY2019Q3I
41,2020-02-21,308337638,0001393612-20-000009,2019,FY,10-K,2020-02-26,NaN
42,2020-04-24,306300776,0001393612-20-000021,2020,Q1,10-Q,2020-04-30,CY2020Q1I
43,2020-07-22,306421150,0001393612-20-000030,2020,Q2,10-Q,2020-07-27,CY2020Q2I
44,2020-10-21,306496332,0001393612-20-000040,2020,Q3,10-Q,2020-10-26,CY2020Q3I
45,2021-02-12,306691722,0001393612-21-000014,2020,FY,10-K,2021-02-17,CY2020Q4I
46,2021-04-28,304887527,0001393612-21-000023,2021,Q1,10-Q,2021-05-04,CY2021Q1I
47,2021-07-23,299468440,0001393612-21-000031,2021,Q2,10-Q,2021-07-29,CY2021Q2I
48,2021-10-22,293075754,0001393612-21-000043,2021,Q3,10-Q,2021-10-28,CY2021Q3I
49,2022-02-18,284903687,0001393612-22-000007,2021,FY,10-K,2022-02-24,NaN
50,2022-04-22,280965096,0001393612-22-000016,2022,Q1,10-Q,2022-04-28,CY2022Q1I
51,2022-07-22,273171312,0001393612-22-000029,2022,Q2,10-Q,2022-07-27,CY2022Q2I

In [12]:
DiscoverQuarterly.data_comp["facts"]["dei"]["EntityCommonStockSharesOutstanding"]

{'label': 'Entity Common Stock, Shares Outstanding',
 'description': "Indicate number of shares or other units outstanding of each of registrant's classes of capital or common stock or other ownership interests, if and as stated on cover of related periodic report. Where multiple classes or units exist define each class/interest by adding class of stock items such as Common Class A [Member], Common Class B [Member] or Partnership Interest [Member] onto the Instrument [Domain] of the Entity Listings, Instrument.",
 'units': {'shares': [{'end': '2009-09-30',
    'val': 542814731,
    'accn': '0001193125-09-205021',
    'fy': 2009,
    'fp': 'Q3',
    'form': '10-Q',
    'filed': '2009-10-07',
    'frame': 'CY2009Q3I'},
   {'end': '2010-01-15',
    'val': 543609676,
    'accn': '0001193125-10-014549',
    'fy': 2009,
    'fp': 'FY',
    'form': '10-K',
    'filed': '2010-01-28',
    'frame': 'CY2009Q4I'},
   {'end': '2010-03-31',
    'val': 543823818,
    'accn': '0001193125-10-079766',
    'fy': 2010,
    'fp': 'Q1',
    'form': '10-Q',
    'filed': '2010-04-09',
    'frame': 'CY2010Q1I'},
   {'end': '2010-06-30',
    'val': 544036855,
    'accn': '0001193125-10-154973',
    'fy': 2010,
    'fp': 'Q2',
    'form': '10-Q',
    'filed': '2010-07-07',
    'frame': 'CY2010Q2I'},
   {'end': '2010-09-30',
    'val': 544589409,
    'accn': '0001193125-10-225003',
    'fy': 2010,
    'fp': 'Q3',
    'form': '10-Q',
    'filed': '2010-10-06',
    'frame': 'CY2010Q3I'},
   {'end': '2011-01-15',
    'val': 545246937,
    'accn': '0001193125-11-014919',
    'fy': 2010,
    'fp': 'FY',
    'form': '10-K',
    'filed': '2011-01-26',
    'frame': 'CY2010Q4I'},
   {'end': '2011-03-25',
    'val': 545485833,
    'accn': '0001193125-11-091525',
    'fy': 2011,
    'fp': 'Q1',
    'form': '10-Q',
    'filed': '2011-04-08',
    'frame': 'CY2011Q1I'},
   {'end': '2011-06-24',
    'val': 545669541,
    'accn': '0001445305-11-001469',
    'fy': 2011,
    'fp': 'Q2',
    'form': '10-Q',
    'filed': '2011-07-01',
    'frame': 'CY2011Q2I'},
   {'end': '2011-09-23',
    'val': 549637090,
    'accn': '0001445305-11-002854',
    'fy': 2011,
    'fp': 'Q3',
    'form': '10-Q',
    'filed': '2011-09-28',
    'frame': 'CY2011Q3I'},
   {'end': '2012-01-31',
    'val': 529976499,
    'accn': '0001393612-12-000008',
    'fy': 2011,
    'fp': 'FY',
    'form': '10-K',
    'filed': '2012-01-26',
    'frame': 'CY2011Q4I'},
   {'end': '2012-03-30',
    'val': 530319316,
    'accn': '0001393612-12-000015',
    'fy': 2012,
    'fp': 'Q1',
    'form': '10-Q',
    'filed': '2012-04-04',
    'frame': 'CY2012Q1I'},
   {'end': '2012-06-22',
    'val': 514911832,
    'accn': '0001393612-12-000019',
    'fy': 2012,
    'fp': 'Q2',
    'form': '10-Q',
    'filed': '2012-06-26',
    'frame': 'CY2012Q2I'},
   {'end': '2012-09-28',
    'val': 504775854,
    'accn': '0001393612-12-000027',
    'fy': 2012,
    'fp': 'Q3',
    'form': '10-Q',
    'filed': '2012-10-04',
    'frame': 'CY2012Q3I'},
   {'end': '2013-01-31',
    'val': 497503969,
    'accn': '0001393612-13-000004',
    'fy': 2012,
    'fp': 'FY',
    'form': '10-K',
    'filed': '2013-01-25',
    'frame': 'CY2012Q4I'},
   {'end': '2013-04-26',
    'val': 490424845,
    'accn': '0001393612-13-000015',
    'fy': 2013,
    'fp': 'Q1',
    'form': '10-Q',
    'filed': '2013-04-30',
    'frame': 'CY2013Q1I'},
   {'end': '2013-07-24',
    'val': 483787663,
    'accn': '0001393612-13-000030',
    'fy': 2013,
    'fp': 'Q2',
    'form': '10-Q',
    'filed': '2013-07-30',
    'frame': 'CY2013Q2I'},
   {'end': '2013-10-25',
    'val': 476839742,
    'accn': '0001393612-13-000043',
    'fy': 2013,
    'fp': 'Q3',
    'form': '10-Q',
    'filed': '2013-11-01',
    'frame': 'CY2013Q3I'},
   {'end': '2014-02-14',
    'val': 470895643,
    'accn': '0001393612-14-000012',
    'fy': 2013,
    'fp': 'FY',
    'form': '10-K',
    'filed': '2014-02-25',
    'frame': 'CY2013Q4I'},
   {'end': '2014-04-25',
    'val': 466273816,
    'accn': '0001393612-14-000021',
    'fy': 2014,
    'fp': 'Q1',
    'form': '10-Q',
    'filed': '2014-04-29',
    'frame': 'CY2014Q1I'},
   {'end': '2014-07-28',
    'val': 461904399,
    'accn': '0001393612-14-000032',
    'fy': 2014,
    'fp': 'Q2',
    'form': '10-Q',
    'filed': '2014-08-01',
    'frame': 'CY2014Q2I'},
   {'end': '2014-10-24',
    'val': 453479765,
    'accn': '0001393612-14-000044',
    'fy': 2014,
    'fp': 'Q3',
    'form': '10-Q',
    'filed': '2014-10-28',
    'frame': 'CY2014Q3I'},
   {'end': '2015-02-20',
    'val': 447239938,
    'accn': '0001393612-15-000007',
    'fy': 2014,
    'fp': 'FY',
    'form': '10-K',
    'filed': '2015-02-25'},
   {'end': '2015-04-24',
    'val': 442505016,
    'accn': '0001393612-15-000015',
    'fy': 2015,
    'fp': 'Q1',
    'form': '10-Q',
    'filed': '2015-04-30',
    'frame': 'CY2015Q1I'},
   {'end': '2015-07-24',
    'val': 435306766,
    'accn': '0001393612-15-000028',
    'fy': 2015,
    'fp': 'Q2',
    'form': '10-Q',
    'filed': '2015-07-29',
    'frame': 'CY2015Q2I'},
   {'end': '2015-10-23',
    'val': 427483802,
    'accn': '0001393612-15-000043',
    'fy': 2015,
    'fp': 'Q3',
    'form': '10-Q',
    'filed': '2015-10-29',
    'frame': 'CY2015Q3I'},
   {'end': '2016-02-19',
    'val': 414201055,
    'accn': '0001393612-16-000059',
    'fy': 2015,
    'fp': 'FY',
    'form': '10-K',
    'filed': '2016-02-24'},
   {'end': '2016-04-22',
    'val': 412225311,
    'accn': '0001393612-16-000070',
    'fy': 2016,
    'fp': 'Q1',
    'form': '10-Q',
    'filed': '2016-04-28',
    'frame': 'CY2016Q1I'},
   {'end': '2016-07-29',
    'val': 403627107,
    'accn': '0001393612-16-000085',
    'fy': 2016,
    'fp': 'Q2',
    'form': '10-Q',
    'filed': '2016-08-02',
    'frame': 'CY2016Q2I'},
   {'end': '2016-10-21',
    'val': 394398659,
    'accn': '0001393612-16-000100',
    'fy': 2016,
    'fp': 'Q3',
    'form': '10-Q',
    'filed': '2016-10-27',
    'frame': 'CY2016Q3I'},
   {'end': '2017-02-17',
    'val': 385534055,
    'accn': '0001393612-17-000012',
    'fy': 2016,
    'fp': 'FY',
    'form': '10-K',
    'filed': '2017-02-23'},
   {'end': '2017-04-28',
    'val': 380190745,
    'accn': '0001393612-17-000025',
    'fy': 2017,
    'fp': 'Q1',
    'form': '10-Q',
    'filed': '2017-05-02',
    'frame': 'CY2017Q1I'},
   {'end': '2017-07-28',
    'val': 372351948,
    'accn': '0001393612-17-000041',
    'fy': 2017,
    'fp': 'Q2',
    'form': '10-Q',
    'filed': '2017-08-01',
    'frame': 'CY2017Q2I'},
   {'end': '2017-10-27',
    'val': 363380629,
    'accn': '0001393612-17-000056',
    'fy': 2017,
    'fp': 'Q3',
    'form': '10-Q',
    'filed': '2017-11-02',
    'frame': 'CY2017Q3I'},
   {'end': '2018-02-16',
    'val': 354756870,
    'accn': '0001393612-18-000012',
    'fy': 2017,
    'fp': 'FY',
    'form': '10-K',
    'filed': '2018-02-21'},
   {'end': '2018-04-27',
    'val': 348977139,
    'accn': '0001393612-18-000025',
    'fy': 2018,
    'fp': 'Q1',
    'form': '10-Q',
    'filed': '2018-05-01',
    'frame': 'CY2018Q1I'},
   {'end': '2018-07-27',
    'val': 342658270,
    'accn': '0001393612-18-000039',
    'fy': 2018,
    'fp': 'Q2',
    'form': '10-Q',
    'filed': '2018-08-01',
    'frame': 'CY2018Q2I'},
   {'end': '2018-10-26',
    'val': 335964673,
    'accn': '0001393612-18-000051',
    'fy': 2018,
    'fp': 'Q3',
    'form': '10-Q',
    'filed': '2018-10-31',
    'frame': 'CY2018Q3I'},
   {'end': '2019-02-15',
    'val': 328386672,
    'accn': '0001393612-19-000011',
    'fy': 2018,
    'fp': 'FY',
    'form': '10-K',
    'filed': '2019-02-20'},
   {'end': '2019-04-26',
    'val': 323728882,
    'accn': '0001393612-19-000029',
    'fy': 2019,
    'fp': 'Q1',
    'form': '10-Q',
    'filed': '2019-05-02',
    'frame': 'CY2019Q1I'},
   {'end': '2019-07-26',
    'val': 318241033,
    'accn': '0001393612-19-000039',
    'fy': 2019,
    'fp': 'Q2',
    'form': '10-Q',
    'filed': '2019-08-01',
    'frame': 'CY2019Q2I'},
   {'end': '2019-10-25',
    'val': 313468253,
    'accn': '0001393612-19-000051',
    'fy': 2019,
    'fp': 'Q3',
    'form': '10-Q',
    'filed': '2019-10-30',
    'frame': 'CY2019Q3I'},
   {'end': '2020-02-21',
    'val': 308337638,
    'accn': '0001393612-20-000009',
    'fy': 2019,
    'fp': 'FY',
    'form': '10-K',
    'filed': '2020-02-26'},
   {'end': '2020-04-24',
    'val': 306300776,
    'accn': '0001393612-20-000021',
    'fy': 2020,
    'fp': 'Q1',
    'form': '10-Q',
    'filed': '2020-04-30',
    'frame': 'CY2020Q1I'},
   {'end': '2020-07-22',
    'val': 306421150,
    'accn': '0001393612-20-000030',
    'fy': 2020,
    'fp': 'Q2',
    'form': '10-Q',
    'filed': '2020-07-27',
    'frame': 'CY2020Q2I'},
   {'end': '2020-10-21',
    'val': 306496332,
    'accn': '0001393612-20-000040',
    'fy': 2020,
    'fp': 'Q3',
    'form': '10-Q',
    'filed': '2020-10-26',
    'frame': 'CY2020Q3I'},
   {'end': '2021-02-12',
    'val': 306691722,
    'accn': '0001393612-21-000014',
    'fy': 2020,
    'fp': 'FY',
    'form': '10-K',
    'filed': '2021-02-17',
    'frame': 'CY2020Q4I'},
   {'end': '2021-04-28',
    'val': 304887527,
    'accn': '0001393612-21-000023',
    'fy': 2021,
    'fp': 'Q1',
    'form': '10-Q',
    'filed': '2021-05-04',
    'frame': 'CY2021Q1I'},
   {'end': '2021-07-23',
    'val': 299468440,
    'accn': '0001393612-21-000031',
    'fy': 2021,
    'fp': 'Q2',
    'form': '10-Q',
    'filed': '2021-07-29',
    'frame': 'CY2021Q2I'},
   {'end': '2021-10-22',
    'val': 293075754,
    'accn': '0001393612-21-000043',
    'fy': 2021,
    'fp': 'Q3',
    'form': '10-Q',
    'filed': '2021-10-28',
    'frame': 'CY2021Q3I'},
   {'end': '2022-02-18',
    'val': 284903687,
    'accn': '0001393612-22-000007',
    'fy': 2021,
    'fp': 'FY',
    'form': '10-K',
    'filed': '2022-02-24'},
   {'end': '2022-04-22',
    'val': 280965096,
    'accn': '0001393612-22-000016',
    'fy': 2022,
    'fp': 'Q1',
    'form': '10-Q',
    'filed': '2022-04-28',
    'frame': 'CY2022Q1I'},
   {'end': '2022-07-22',
    'val': 273171312,
    'accn': '0001393612-22-000029',
    'fy': 2022,
    'fp': 'Q2',
    'form': '10-Q',
    'filed': '2022-07-27',
    'frame': 'CY2022Q2I'}]}}

In [53]:
DiscoverQuarterly.by_tag("EarningsPerShareDiluted")

    year quarter   val
0   2022      Q2  3.96
1   2022      Q1  4.22
2   2021      Q4  3.70
3   2021      Q3  3.54
4   2021      Q2  5.55
..   ...     ...   ...
58  2009      Q4  0.60
59  2009      Q3  1.07
60  2009      Q2  0.43
61  2009      Q1  0.25
62  2008      Q3  0.37

[63 rows x 3 columns]

In [55]:
DiscoverQuarterly.by_tag("Sales")

KeyError: 'Sales'